<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RFduinoProExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00AB78021BBB878B00F872B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00AB781B1BBB878B00F872B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>00AB78261BBB878B00F872B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
